# Copyright 2024 Garena Online Private Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

podLabels:
  rm-server: Skywork-Reward-V2-Llama-3.1-8B
shmSize: 64Gi
readinessProbe:
  exec:
    command:
    - bash
    - /home/aiops/liuzc/oat/k8s/readiness.sh # change the prefix to your project directory
  initialDelaySeconds: 30
  periodSeconds: 5